<!DOCTYPE html>
<html>

<head>
  <title>{{title}} | Jeelkumar Portfolio</title>
  {{> imports }}
</head>

<body>

  {{> header }}

  <div class="container">
    {{{body}}}
  </div>

  {{> footer }}
</body>

</html>